body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("/imagenes/fotovail.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.linktree-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  max-width: 400px;
}

.linktree-container a {
  background-color: rgba(27, 77, 62, 0.85);
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.linktree-container a:hover {
  background-color: rgba(13, 71, 161, 0.85);
}

.autor {
  font-family: Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  color: rgb(17, 42, 32);
  font-weight: bold;
}
